<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	 <%- include ../include/head%>
</head>
<body ng-app="clientModule" ng-controller="UsersController">
	
	<table class="table table-bordered" >
	<thead>
	<th class="col-md-2">职位</th>
	</thead>
	<tbody >

	<tr   ng-repeat="user in users">
	<td class="col-md-2" ng-bind="user.name"></td>
	
	<td class="col-md-2" ><button  class='btn btn-primary' ng-click="delete(user.id)">删除</button><button  class='btn btn-primary' ng-click="openUserDetail(user.id)">修改</button></td>
	</tr> 

	</tbody>
	</table>
 	<button  class='btn btn-primary' ng-click="createUser()">增加帐号</button>
	

 <div class="modal" id="modal-editor">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1> Editor</h1>
        </div>
        <div class="modal-body">

         <form  class="form-horizontal"  style="width: 1000px;    padding-left: 20px;" >
		<input name='id' class='xlarge' ng-bind='user.id ' style="display:none">
		<input name='admin_user_id' class='xlarge' ng-bind='user.id ' style="display:none">
		
			<div class="form-group ">
			 <div class="input-group col-sm-4">
			 <div class="input-group-addon">登录名</div>
			<input name='username' class='form-control' ng-model='user.username ' >
			</div></div>
			<div class="form-group">
			 <div class="input-group col-sm-4">
			 <div class="input-group-addon">密码</div>
			<input name='password' class='form-control'  ng-model='user.password ' >
			</div></div>
			<div class="form-group">
			 <div class="input-group col-sm-4">
			 <div class="input-group-addon">姓名</div>
			<input name='name' class='form-control' ng-model='user.name ' >
			</div></div>
			<div class="form-group" ng-repeat="team in user.teams">
			 <div class="input-group col-sm-4">
			 <div class="input-group-addon">团队</div>
		<input name='admin_user_team_id' class='xlarge' ng-bind='team.id ' style="display:none">
			<input name='team' class='form-control' ng-model='team.team_name '  >
			</div></div>
			<div class="form-group" ng-repeat="role in user.roles">
			 <div class="input-group col-sm-4">
			 <div class="input-group-addon">职位</div>
			 <input name='admin_role_id' class='xlarge' ng-bind='role.id ' style="display:none">
			<input name='role_name' class='form-control' ng-model='role.role_name '  >
			</div></div>
			
			   <button class="btn btn-primary" ng-click="save()" ng-show='status'>保存</button>
			    <button class="btn btn-primary" ng-click="update()" ng-show='!status'>修改</button>
			<button type='reset' class='btn'>取消</button>
			 <span class="help-inline text-danger" ng-bind="editorMessage"></span>
		</form>
        </div>
      </div>
    </div>
  </div>
   <%- include ../include/footer%>
</body>
</html>